# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# IDE
.vs/
.vscode/
.idea/
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
!example.tfvars

# OS
.DS_Store
Thumbs.db

# Logs
*.log
